# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
dist/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
server/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.wwebjs_auth
.wwebjs_cache
wwebjs_auth/
server/.wwebjs_auth/
server/.wwebjs_cache/
server/wwebjs_auth/
server/.wwebjs_auth_1/
server/.wwebjs_auth_2/
*.png
*.jpg
*.jpeg
*.gif
server/public/uploads/
